@font-face {
    font-family: 'Fredoka';
    src: url('./components/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Itim';
    src: url('./components/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    --lumo-font-family: 'Itim', sans-serif;
}
vaadin-login-form-wrapper {
    background: rgb(255, 255, 255, 0.8) !important;
    border-radius: 10px !important;
    padding: 2rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

vaadin-login-form::part(vaadin-login-form-wrapper) {
    background: rgba(37, 0, 0, 0.8);
    border-radius: 10px;
    padding: 2rem;
}

vaadin-login-form-wrapper {
    background: rgb(255, 255, 255, 0.8) !important;
    border-radius: 10px !important;
    padding: 2rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

vaadin-login-form::part(vaadin-login-form-wrapper) {
    background: rgba(37, 0, 0, 0.8);
    border-radius: 10px;
    padding: 2rem;
}

vaadin-login-form::part(form) {
    background: transparent;
    padding: 1rem;
}

vaadin-login-form::part(form-title) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

vaadin-login-form vaadin-button[theme~="primary"] {
    background: #3e3f5f;
    border-radius: 5px;
}
vaadin-button[theme~="tertiary"] {
    width: 120px;
}
vaadin-vertical-layout{
    background: url("./images/Muny.png");
}
vaadin-button[theme~="primary"] {
    background: #3e3f5f;
    border-radius: 5px;
}
.div-buttons{
    display: flex;
    padding-top: 2%;
    padding-right: 3%;
    margin-left: auto;
}


.image-container {
    background-size: cover;
    background: url("./images/PunPun2.png") center;
    display: flex;



    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44%;

    z-index: 1;
}
.quote-title {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Itim', sans-serif;

    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
}
.image{


    position:absolute;
    top: 50%;

    left:50%;
    width:13%;
    height: 20%;

    z-index:4;
}
.conejos{
    position:relative;
    padding-top:5%;
    padding-right:1%;

    margin-top:-3vw;
    width:70%;
    height:100%;
    z-index:2;
}

.quote {
    color: white;
    font-weight: 1500;
    font-size: 1.6rem;

    font-family: 'Itim', sans-serif;
    font-style: italic;
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;

}
.quote-of-the-day-div{
    position:absolute;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 52px 25px;

    bottom: 5px;
    left: 45px;
    background: rgba(0, 0, 0, 0);

}
.icons{
    stroke-width: 0.01rem;
    stroke: black;
    fill: none;
    font-size: 32px;
}
vaadin-menu-bar{

    border-radius: 5px;
    display:flex;
}
vaadin-menu-bar-button{


    margin-inline: auto;
}
.chat{
    background: rgb(254, 219, 229,0.6);
    border-radius:5px;
    display: grid;

    grid-template-columns: 1fr auto;

    grid-template-rows: auto auto;
    gap: 5px;
    padding: 10px;
    top:50%;
    left:50%;
    position: absolute;

    z-index:10;
    margin-top: auto;

}
.chat-text-area{
    grid-column: 1;
    grid-row: 2;
    background: #3e3f5f;
    border-radius: 5px;
}
.close-button{
    grid-column: 2;
    grid-row:1;
    background: #3e3f5f;
    border-radius: 5px;
}
.send-button{
    grid-column: 2;
    grid-row:2;
    background: #3e3f5f;
    border-radius: 5px;
}
.handle{
    grid-column: 1;
    grid-row: 1;
    cursor: move;
    user-select: none;
    background: #3e3f5f;
    border-radius: 5px;
    color: white;

}
.mensajes-container{
    display:flex;
    width: 100%;
    height:100%;
    background: rgb(255,255,255,1);
}